a{
    text-decoration:none;
    color:black;
}

.even{
    height:20px;
    background-color:#d9fdfd;
}

.odd{
    height:30px;
}

.td{
    width:100px; 
    height:22px; 
    font-size:small; 
    border:1px dotted;
} 

.header{
    background-color:rgb(228, 236, 247); 
    text-align:center; 
    font-weight:bold;
} 

.public{
    background-color:rgb(209, 232, 255);
} 

.reference{
    background-color:rgb(255, 237, 219);
}

#CellNameFormulaBar .column{
    position:relative; 
    float:left; 
    border:1px dotted; 
    height:22px;
} 

#CellName{
    width:100px; 
    border:1px dotted;
} 

#label{
    text-align:right; 
    width:100px;
} 

#formulaBar{
    width:1000px; 
    border:1px dotted;
}